CMakeFiles/
build
Makefile
cmake_install.cmake
elf2uf2/
generated/
pico-sdk/
p6_pico_cart.bin
p6_pico_cart.dis
p6_pico_cart.elf
p6_pico_cart.elf.map
p6_pico_cart.hex
p6_pico_cart.uf2
a8_pico_cart.dis
a8_pico_cart.elf
a8_pico_cart.elf.map
a8_pico_cart.hex
a8_pico_cart.uf2
pioasm/
